snapshots

newspapers.txt
newspapers.json

serviced-queries
serviced-newspapers.json

newspapers-scraped-data.json
newspapers-scraped-data-wayback.json

webpages-data-view.txt
newspaper-webpages-counts.txt

normalized-urls-bing.txt
normalized-urls-google.txt
webpages-data-view-*.txt
