snapshots
newspapers.csv
search-terms.csv
newspapers.json
search-terms.json
newspapers-scraped-data.json
serviced-queries.json
simplified-newspapers-view.txt
webpages-data-view.txt
newspaper-webpages-counts.txt
serviced-queries.txt
